<div class="std">
  <div class="temp-flex-container">

    <h1>Text converter</h1>


    <div class="ex-background">

      <mat-form-field appearance="fill" style="max-width: 50%;">
        <mat-label>Option</mat-label>
        <mat-select [(value)]="currentMode">
          <mat-option *ngFor="let opt of eqOptions"
          [value]="opt"
          >
        
          {{upperCaseFirst(opt)}}
        </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field style="width: 100%; padding: 0px;" class="example-full-width" appearance="fill">
        <mat-label>Enter text here</mat-label>
        <textarea (keydown)="onKeydown($event)" [(ngModel)]="editableText" matInput [placeholder]="hintText">

                </textarea>

        <!-- <input matInput type="text" [(ngModel)]="editableText"> -->

      </mat-form-field>
      <br>
      <button mat-raised-button style="width: 120px;"
              (click)="updateDisplayText()">Process me!
      </button>

      <button style="width: 100px;"
              mat-raised-button 
              (click)="displayCopyMessage()" [cdkCopyToClipboard]="displayText"
      >Copy me!
      </button>


      <p style="white-space: pre-line" class="css-box"> {{displayText}} </p>


      

      <div *ngIf="copied"

      >Copied!!
      </div>



      <p style="width: min(80%, 400px);">
        {{bigHintText}}


      </p>
 
      <p>

        MS Word-related conversions: For Windows users only, make sure <em>copy linear format
        to the clipboard as plain text</em> is on
        in your equation settings.

      </p>


      <p>Use Page Up and Page Down to scroll between options. For more information, <a href="https://github.com/ICPRplshelp/text-amender">click here</a>. Use the copy me button instead of trying to copy it yourself.</p>


      <p></p>


    </div>

  </div>
</div>
